OPENAI_BASE_URL=http://localhost:11434/v1
OPENAI_API_KEY=ollama

GENERATION_MODEL=gemma3:12b
GENERATION_TEMPERATURE=0.8
GENERATION_MAX_RETRIES=2

QDRANT_URL=http://localhost:6333
QDRANT_CHECK_COMPATIBILITY=false

RAG_MODEL=gemma3:12b
RAG_TEMPERATURE=0
RAG_MAX_RETRIES=2

LANGSMITH_TRACING=false
LANGSMITH_PROJECT=cv-screener
LANGSMITH_API_KEY=
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
